# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environment
.venv/
venv/

# Uploads
uploads/

# Saved Models
saved_models/
*.pkl

# Environment
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db